<li>
  {{#if isNewsShowing }}
    <p>Special news: {{annoucement.text}}
    Here's an offer: {{annoucement.offer}}
    Save some money! {{annoucement.discount}}
    {{action 'newsHide'}}
  </p>
  {{else}}
    <button {{action 'newsShow'}}>Annoucement Show! Now!</button>
  {{/if}}
</li>
